<a href="https://colab.research.google.com/github/anirbanghoshsbi/sklearn_tricks/blob/master/PandasMultilevelIndexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
stocks = pd.read_csv('http://bit.ly/smallstocks')

In [3]:
stocks

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL

In [4]:
stocks.index  #regular index not multiindex

RangeIndex(start=0, stop=9, step=1)

In [6]:
stocks.groupby('Symbol')['Close'].mean()
#stocks.groupby(Symbol').Close.mean()

Symbol
AAPL    112.856667
CSCO     31.480000
MSFT     57.433333
Name: Close, dtype: float64

In [7]:
stocks.groupby(['Symbol','Date']).Close.mean()

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

The above data is a series data with multi level index

In [0]:
# save it as series
ser = stocks.groupby(['Symbol','Date']).Close.mean()

In [9]:
ser.index

MultiIndex(levels=[['AAPL', 'CSCO', 'MSFT'], ['2016-10-03', '2016-10-04', '2016-10-05']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]],
           names=['Symbol', 'Date'])

In [10]:
# series is normally a single diamension but in multiindex is 2 Diamension
# I can unstack a series 2d (due to multi index) we can unstack to one diamensional
ser.unstack()

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [12]:
# We can also do the above thing using the pivot_table
stocks.pivot_table(values='Close',index='Symbol',columns='Date')

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [0]:
df =stocks.pivot_table(values='Close',index='Symbol',columns='Date')

In [14]:
#Selection
ser

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [16]:
# want apple data (selection on the outer level)
ser.loc['AAPL']

Date
2016-10-03    112.52
2016-10-04    113.00
2016-10-05    113.05
Name: Close, dtype: float64

In [17]:
#apple on a date (selection on the outer and the inner level)
ser.loc['AAPL','2016-10-03']

112.52

In [18]:
# all symbol for a date (selection on the inner level)
ser.loc[:,'2016-10-03']

Symbol
AAPL    112.52
CSCO     31.50
MSFT     57.42
Name: Close, dtype: float64

In [19]:
df

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [20]:
df.index

Index(['AAPL', 'CSCO', 'MSFT'], dtype='object', name='Symbol')

In [0]:
# dataframe with a multi index
stocks.set_index(['Symbol','Date'], inplace=True)

In [23]:
stocks.index

MultiIndex(levels=[['AAPL', 'CSCO', 'MSFT'], ['2016-10-03', '2016-10-04', '2016-10-05']],
           labels=[[1, 0, 2, 0, 2, 1, 2, 1, 0], [0, 0, 0, 1, 1, 1, 2, 2, 2]],
           names=['Symbol', 'Date'])

In [24]:
stocks

                    Close    Volume
Symbol Date
CSCO   2016-10-03   31.50  14070500
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500
AAPL   2016-10-04  113.00  29736800
MSFT   2016-10-04   57.24  20085900
CSCO   2016-10-04   31.35  18460400
MSFT   2016-10-05   57.64  16726400
CSCO   2016-10-05   31.59  11808600
AAPL   2016-10-05  113.05  21453100

In [0]:
# lets sort the data on the index
stocks.sort_index(inplace=True)

In [26]:
stocks

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

In [28]:
stocks.loc['AAPL']

             Close    Volume
Date
2016-10-03  112.52  21701800
2016-10-04  113.00  29736800
2016-10-05  113.05  21453100

In [29]:
#apple on oct 3rd
stocks.loc['AAPL','2016-10-03']

Close          112.52
Volume    21701800.00
Name: (AAPL, 2016-10-03), dtype: float64

In [30]:
# better way to do it
stocks.loc[('AAPL','2016-10-03'),:]

Close          112.52
Volume    21701800.00
Name: (AAPL, 2016-10-03), dtype: float64

In [32]:
# just to get the close
stocks.loc[('AAPL','2016-10-03'),'Close']

112.52

In [33]:
# if i want two different stocks on one day
stocks.loc[(['AAPL','MSFT'],'2016-10-03'),:]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500

In [34]:
# if I just want Close on the day
stocks.loc[(['AAPL','MSFT'],'2016-10-03'),'Close']

Symbol  Date
AAPL    2016-10-03    112.52
MSFT    2016-10-03     57.42
Name: Close, dtype: float64

In [36]:
#multiple dates and apple
stocks.loc[('AAPL',['2016-10-03','2016-10-04']),'Close']

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
Name: Close, dtype: float64

In [37]:
# above two dates and all stocks
stocks.loc[(slice(None),['2016-10-03','2016-10-04']),'Close']

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
CSCO    2016-10-03     31.50
        2016-10-04     31.35
MSFT    2016-10-03     57.42
        2016-10-04     57.24
Name: Close, dtype: float64